<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="mobile_ur10">

  <!-- mobile base description -->
  <xacro:include filename="$(find mobile_arm)/models/mobile_base/mobile_base.urdf.xacro"/>

  <!-- UR10 description -->
  <xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro" />  
  <xacro:ur10_robot prefix="" joint_limited="false"/>

  <!-- joint to attach UR10 to mobile base -->
  <joint name="arm_to_mobile_base" type="fixed">
    <origin xyz="0 0 ${.352 / 2}" rpy="0 0 0" />
    <parent link="chassis" />
    <child link="base_link" />    
  </joint>

  <!-- common Gazebo plugins and tags
       note: there are also Gazebo tags in mobile_base.urdf.xacro to make the corner wheels frictionless -->
  <xacro:include filename="$(find mobile_arm)/models/common.gazebo.xacro"/>
      
</robot>
